<a href="https://colab.research.google.com/github/Gom30/Housing-Predictions-with-Linear-Regression/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import requests

import pandas as pd

# NASA APOD (Astronomy Picture of the Day) API endpoint
apod_url = "https://api.nasa.gov/planetary/apod"

api_key = "dVDHgLKrjHlP1wg55fXdDie1wIyTb84oDGhJANQb"

# Parameters for the APOD request
apod_params = {
    "api_key": api_key,
}

# Requesting APOD data
apod_response = requests.get(apod_url, params=apod_params)

apod_data = apod_response.json()

# Display APOD image URL
image_url = apod_data.get("url")

print("APOD Image URL:", image_url)

# Download and save the APOD image
image_content = requests.get(image_url).content

with open("apod_astronomy.jpg", "wb") as file:

    file.write(image_content)

# Neo (Near Earth Objects) API endpoint

neo_url = "https://api.nasa.gov/neo/rest/v1/neo/browse"

# Requesting NEO data
neo_response = requests.get(neo_url, params=apod_params)

neo_data = neo_response.json()

# Extracting asteroid data
asteroids_list = []

for asteroid in neo_data["near_earth_objects"]:

    if asteroid["close_approach_data"]:
        asteroid_details = {
            "Asteroid ID": asteroid["id"],
            "Asteroid Name": asteroid["name"],
            "Estimated Diameter": asteroid["estimated_diameter"] ["kilometers"] ["estimated_diameter_min"],
            "Absolute_magnitude": asteroid["absolute_magnitude_h"],
            "Relative Velocity(km/s)": asteroid["close_approach_data"][0]["relative_velocity"]["kilometers_per_second"]

        }
        #append each detail to the main list
        asteroids_list.append(asteroid_details)



    else:
        asteroid_details = {
            "Asteroid ID": asteroid["id"],
            "Asteroid Name": asteroid["name"],
            "Estimated Diameter": asteroid["estimated_diameter"] ["kilometers"] ["estimated_diameter_min"],
            "Absolute_magnitude": asteroid["absolute_magnitude_h"],
            "Relative Velocity(km/s)": ""

    }
        asteroids_list.append(asteroid_details)



# Convert to DataFrame and display
df = pd.DataFrame(asteroids_list)
print(df)


# save to CSV
df.to_csv("asteroid_data.csv", index=False)

APOD Image URL: https://apod.nasa.gov/apod/image/2505/Crab_Webb_998.jpg
   Asteroid ID                Asteroid Name  Estimated Diameter  \
0      2000433           433 Eros (A898 PA)           22.006703
1      2000719         719 Albert (A911 TB)            2.025606
2      2000887         887 Alinda (A918 AA)            4.597852
3      2001036       1036 Ganymed (A924 UB)           38.775283
4      2001221         1221 Amor (1932 EA1)            0.892391
5      2001566        1566 Icarus (1949 MA)            1.301832
6      2001580       1580 Betulia (1950 KA)            3.094247
7      2001620    1620 Geographos (1951 RA)            2.347226
8      2001627          1627 Ivar (1929 SH)            7.320740
9      2001685          1685 Toro (1948 OA)            3.703011
10     2001862        1862 Apollo (1932 HA)            1.616423
11     2001863      1863 Antinous (1948 EA)            2.150577
12     2001864      1864 Daedalus (1971 FA)            2.861245
13     2001865      1865 Cerberus (1971 UA)            1.165615
14     2001866      1866 Sisyphus (1972 XA)            8.444131
15     2001915  1915 Quetzalcoatl (1953 EA)            0.560473
16     2001916        1916 Boreas (1953 RA)            2.732467
17     2001917          1917 Cuyo (1968 AA)            3.536348
18     2001943       1943 Anteros (1973 EC)            1.934439
19     2001980  1980 Tezcatlipoca (1950 LA)            4.597852

    Absolute_magnitude Relative Velocity(km/s)
0                10.41            5.5786191875
1                15.59             3.446029003
2                13.81            7.0959734649
3                 9.18            6.3038664111
4                17.37           10.7701740589
5                16.55           27.0080710025
6                14.67           11.3576547566
7                15.27           11.7628121919
8                12.80            6.5498704711
9                14.28           16.1350819976
10               16.08           11.6407133456
11               15.46           18.0795126569
12               14.84           21.1217901485
13               16.79           15.3278825687
14               12.49           23.0737678813
15               18.38            15.120986141
16               14.94
17               14.38           15.2344898317
18               15.69            7.2023034001
19               13.81